.w2ui-icon.accepttrackedchanges{ background: url('../images/lc_accepttrackedchanges.png') no-repeat center !important; }
.w2ui-icon.alignblock{ background: url('../images/lc_alignblock.png') no-repeat center !important; }
.w2ui-icon.alignhorizontal{ background: url('../images/lc_alignhorizontalcenter.png') no-repeat center !important; }
.w2ui-icon.alignleft{ background: url('../images/lc_alignleft.png') no-repeat center !important; }
.w2ui-icon.alignright{ background: url('../images/lc_alignright.png') no-repeat center !important; }
.w2ui-icon.autosum{ background: url('../images/lc_autosum.png') no-repeat center !important; }
.w2ui-icon.backcolor{ background: url('../images/lc_backcolor.png') no-repeat center !important; }
.w2ui-icon.bold{ background: url('../images/lc_bold.png') no-repeat center !important; }
/*.w2ui-icon.annotation{ background: url('../images/lc_showannotations.png') no-repeat center !important; }*/
.w2ui-icon.bullet{ background: url('../images/lc_defaultbullet.png') no-repeat center !important; }
.w2ui-icon.cancel{ background: url('../images/lc_cancel.png') no-repeat center !important; }
.w2ui-icon.color{ background: url('../images/lc_color.png') no-repeat center !important; }
.w2ui-icon.decrementindent{ background: url('../images/lc_decrementindent.png') no-repeat center !important; }
.w2ui-icon.deletepage{ background: url('../images/lc_deletepage.png') no-repeat center !important; }
.w2ui-icon.duplicatepage{ background: url('../images/lc_duplicatepage.png') no-repeat center !important; }
.w2ui-icon.edit{ background: url('../images/lc_editdoc.png') no-repeat center !important; }
/*.w2ui-icon.equal{ background: url('../images/lc26049.png') no-repeat center !important; }*/
.w2ui-icon.help{ background: url('../images/lc_helpindex.png') no-repeat center !important; }
.w2ui-icon.incrementindent{ background: url('../images/lc_decrementlevel.png') no-repeat center !important; }
.w2ui-icon.insertpage{ background: url('../images/lc_insertpage.png') no-repeat center !important; }
.w2ui-icon.italic{ background: url('../images/lc_italic.png') no-repeat center !important; }
.w2ui-icon.insertgraphic{ background: url('../images/lc_gallery.png') no-repeat center !important; }
.w2ui-icon.inserttable{ background: url('../images/lc_inserttable.png') no-repeat center !important; }
.w2ui-icon.next{ background: url('../images/lc_downsearch.png') no-repeat center !important; }
.w2ui-icon.numbering{ background: url('../images/lc_defaultnumbering.png') no-repeat center !important; }
.w2ui-icon.presentation{ background: url('../images/lc_dia.png') no-repeat center !important; }
.w2ui-icon.prev{ background: url('../images/lc_upsearch.png') no-repeat center !important; }
.w2ui-icon.print{ background: url('../images/lc_print.png') no-repeat center !important; }
.w2ui-icon.redo{ background: url('../images/lc_redo.png') no-repeat center !important; }
.w2ui-icon.save{ background: url('../images/lc_save.png') no-repeat center !important; }
.w2ui-icon.saveas{ background: url('../images/lc_saveas.png') no-repeat center !important; }
.w2ui-icon.strikeout{ background: url('../images/lc_strikeout.png') no-repeat center !important; }
.w2ui-icon.insertfootnote{ background: url('../images/lc_insertfootnote.png') no-repeat center !important; }
.w2ui-icon.underline{ background: url('../images/lc_underline.png') no-repeat center !important; }
.w2ui-icon.undo{ background: url('../images/lc_undo.png') no-repeat center !important; }
.w2ui-icon.zoomin{ background: url('../images/plus.png') no-repeat center !important; }
.w2ui-icon.zoomout{ background: url('../images/minus.png') no-repeat center !important; }
.w2ui-icon.zoomreset{ background: url('../images/lc_view100.png') no-repeat center !important; }
.w2ui-icon.more{ background: url('../images/lc_downsearch.png') no-repeat center !important; }
.w2ui-icon.firstrecord{ background: url('../images/lc_firstrecord.png') no-repeat center !important; }
.w2ui-icon.nextrecord{ background: url('../images/lc_nextrecord.png') no-repeat center !important; }
.w2ui-icon.prevrecord{ background: url('../images/lc_prevrecord.png') no-repeat center !important; }
.w2ui-icon.lastrecord{ background: url('../images/lc_lastrecord.png') no-repeat center !important; }
.w2ui-icon.wraptext{ background: url('../images/lc_wraptext.png') no-repeat center !important; }
.w2ui-icon.togglemergecells{ background: url('../images/lc_togglemergecells.png') no-repeat center !important; }
.w2ui-icon.numberformatcurrency{ background: url('../images/lc_currencyfield.png') no-repeat center !important; }
.w2ui-icon.numberformatpercent{ background: url('../images/lc_numberformatpercent.png') no-repeat center !important; }
.w2ui-icon.numberformatdecimal{ background: url('../images/lc_numberformatdecimal.png') no-repeat center !important; }
.w2ui-icon.numberformatdate{ background: url('../images/lc_datefield.png') no-repeat center !important; }
.w2ui-icon.numberformatincdecimals{ background: url('../images/lc_numberformatincdecimals.png') no-repeat center !important; }
.w2ui-icon.numberformatdecdecimals{ background: url('../images/lc_numberformatdecdecimals.png') no-repeat center !important; }
.w2ui-icon.sortascending{ background: url('../images/lc_sortascending.png') no-repeat center !important; }
.w2ui-icon.sortdescending{ background: url('../images/lc_sortdescending.png') no-repeat center !important; }
.w2ui-icon.selected{ background: url('../images/lc_ok.png') no-repeat center !important; }
.w2ui-icon.repair{ background: url('../images/lc_backward.png') no-repeat center !important; }
.w2ui-icon.specialcharacter{ background: url('../images/lc_insertsymbol.png') no-repeat center !important; }

/* menubar position */
#main-menu {
    padding-left: 42px !important;
}

/* logo & online user */
#tb_toolbar-up_item_left {
    width: 0;
    padding-left: 45px;
}

#logo {
/*    background-image: none;*/
    min-height: 40px;
    width:40px;
    z-index: 6;
    position: relative;
    top: 14px;
}

#logo_wrap {
    position: fixed;
    min-height: 70px;
    width:40px;
    z-index: 6;
    top:0px;
    left:0px;
}

.logo_wrap_odt{background-color:#3287C0;}
.logo_wrap_odp{background-color:#DA4A31;}
.logo_wrap_ods{background-color:#30BA51;}

.logo_odt{background: url('../images/lc_logo_odt_of.svg') no-repeat center !important}
.logo_ods{background: url('../images/lc_logo_ods_of.svg') no-repeat center !important}
.logo_odp{background: url('../images/lc_logo_odp_of.svg') no-repeat center !important}

.logo_odt_convview{background: url('../images/libreoffice-writer-icon.png') no-repeat center }
.logo_ods_convview{background: url('../images/libreoffice-calc-icon.png') no-repeat center }
.logo_odp_convview{background: url('../images/libreoffice-impress-icon.png') no-repeat center }


#logo.readonly {
    background-size: 50% !important;
    top: -5px;
}

.leaflet-selection-marker-start {
        margin-top: -30px;
        margin-left: -28px;
        width: 30px;
        height: 44px;
	background-image: url('../images/handle_start_of.png');
}

.leaflet-selection-marker-end {
        margin-top: -30px;
        margin-left: -2px;
        width: 30px;
        height: 44px;
        background-image: url('../images/handle_end_of.png');
}
