Source: ndcodfapi
Section: web
Priority: optional
Maintainer: NIEN-TSU WU (tommy.wu@ossii.com.tw)
Build-Depends: systemd, debhelper (>= 9), libcap-dev, libcap2-bin, libpcre3-dev, libpng-dev, libpoco-dev (<=1.9.1)
Standards-Version: 3.9.7


Package: ndcodfapi
Section: web
Architecture: any
Suggests: file
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd, adduser, fontconfig, libsm6, libssl1.0.0, libodbc1, libxinerama1, libcairo2, libgl1-mesa-glx, libcups2, libdbus-glib-1-2, cpio, libcap2-bin, ${lo:Depends}, libpococrypto60 (>= 1.9.0), libpococrypto60 (<= 1.9.1), libpocofoundation60 (>= 1.9.0), libpocofoundation60 (<= 1.9.1), libpocojson60 (>= 1.9.0), libpocojson60 (<= 1.9.1), libpoconet60 (>= 1.9.0), libpoconet60 (<= 1.9.1), libpoconetssl60 (>= 1.9.0), libpoconetssl60 (<= 1.9.1), libpocoutil60 (>= 1.9.0), libpocoutil60 (<= 1.9.1), libpocoxml60 (>= 1.9.0), libpocoxml60 (<= 1.9.1)
Description: lool


Package: ndcodfapi-mergeodf
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} ndcodfapi (>= 1.1.5)
Description: Restful /lool/merge-to for lool


Package: ndcodfapi-templaterepo
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} ndcodfapi (>= 1.1.5)
Description: Restful /lool/templaterepo for lool


Package: ndcodfapi-tbl2sc
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} ndcodfapi (>= 1.1.5)
Description: Restful /lool/table2spreadsheet for lool
